
<label>
    Nombre d'établissements par page 
    <input  [ngModel]       = "nbPerPage()"
            (ngModelChange) = "nbPerPage.set($event)"
            type = "number"
            />
</label>

<app-colleges-table 
        [data]      = "colleges()"
        [nbPerPage] = "nbPerPage()"
        ></app-colleges-table>

<hr/>
<h4>On filtre</h4>
<app-filtre-college (filterFct)="filter.set($event)"
        ></app-filtre-college>

<app-colleges-table 
        [data]      = "filteredColleges()"
></app-colleges-table>
